<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
            <% avatar_url = @user.avatar_url(128) %>
            <% if avatar_url %>
                <div class="media-left">
                    <%= image_tag avatar_url, class: 'media-object' %>
                </div>
            <% end %>
            <div class="media-body">
                <h2 class="media-heading"><%= @user.name %></h2>
                <small>
                    <%= pluralize(@user.posts.count, 'post') %>,
                    <%= pluralize(@user.comments.count, 'comment') %>
                </small>
            </div>
        </div>
    </div>
</div>

<h2>Posts</h2>
<% if user_has_made_posts? %>
    <%= render @user.posts %>
<% else %>
<%= @user.name %> is still thinking about making some posts.
<% end %>

<h2>Comments</h2>
<% if user_has_made_comments? %>
<%= render @user.comments %>
<% else %>
<%= @user.name %> is still trying to think up some witty comments.
<% end %>

<h3>Favorited Posts</h3>
<% if user_has_favorited_posts? %>
    <% @user.favorites.each do |favorite| %>
        
        <div class="favorite_avatar">
        <% favorite_avatar_url = favorite.post.user.avatar_url(48) %>
        <% if avatar_url %>
            <%= image_tag favorite_avatar_url, class: 'media-object' %>
        <% end %>
        </div>
        <div class="favorite_post">
        <%= render favorite.post %>
        </div>
    <% end %>    
    
<% else %>
<%= @user.name %> has not chosen any posts that they think are fantastic yet.
<% end %>

